.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

article {margin-bottom:2em;padding-bottom:2em;border-bottom:1px solid #ccc;}

.social a {
  padding: 0 .5em;
}

.page-header {
  margin-bottom:2rem;
}

.contentdemoBasicUsage div.demo-content {
    height: 450px; }
  
  .contentdemoBasicUsage div[ng-controller] {
    height: 100%;
    padding-bottom: 15px; }
  
  .contentdemoBasicUsage md-content {
    padding: 24px; }